.solution{
    width:85%;
    margin-left:auto;
    margin-right:auto;
}
.bannerSection{
    height:80vh;
    padding: 6% 2% 2% 2%;
    margin-left:auto;
    margin-right:auto;
}

.bannerContent{
    display:flex;
    flex-direction:column;
}

.bannerHeading{
    height: 50%;
}
.bannerHeading h1{
    font-size: 8vh;
    color: #81C995;
}

.bannerSubText{
    height:50%;
    padding:48px 48px 0 0;
}
.bannerSubText span{
    color:grey;
    font-size:24px;
}