.contactSection {
    margin-top: 5%;
    margin-bottom: auto;

}

.rightCol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    padding: 2%;
}

.card {
    height: 160px;
    width: 140px;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: white;
    box-shadow: 4px 12px 47px 0 rgb(0 0 0 / 10%);
    transition: all 0.3s ease-out;
    border-radius: 22px;
}

.card:hover {
    transform:  translateY(-5px);
}

.card-content{
    height: 100%;
    text-align: center;
}
.leftCol{
    text-align: center;
}
.image{
    height: 60%;
    text-align: center;
}

.image img{
    position: relative;
    top: 25%;
    margin:auto;
}

.social-text{
    width: 80%;
    font-size: small;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



@media screen and (max-width: 480px) {
    .contactSection {
        margin-top: 10%;
        margin-bottom: auto;
    }
    .rightCol {
        margin-top: 32px !important;
        margin-bottom: 32px !important
    }

    .leftCol{
        padding: 0px !important;
        width: 100%;
        visibility: hidden;
    }

    .contactGrid{
        display: flex;
        flex-direction: column-reverse !important;
        justify-content: space-evenly;
        padding: 0px !important;
    }

    .bannerImage {
        padding: 0px !important;
        height: 280px !important;
    }
}
@media screen and (min-width: 480px) and (max-width: 600px) {
    .contactSection {
        margin-top: 10%;
        margin-bottom: auto;
    }
    .bannerImage {
        height: 360px !important;
    }
    .rightCol {
        margin-bottom: 64px !important
    }

}
@media screen and (min-width: 600px) and (max-width: 900px) {
    .contactSection {
        margin-top: 10%;
        margin-bottom: auto;
    }
    .bannerImage {
        height: 420px !important;
    }
    .rightCol {
        margin-bottom: 64px !important
    }

}