.compact-card {
    height: 360px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: white;
    box-shadow: 4px 40px 48px rgb(0 0 0 / 10%);
    transition-duration: 250ms;
    transition-property: transform, background-color;
    border-radius: 22px;
}

.compact-card:hover{
    transform:  translateY(-5px);
}

.compact-card .banner-area{
    object-fit: none;
    height: 40%;
}
.compact-card .banner-area img{
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    width: 100%;
    height: 100%;
}
.compact-card .content-area{
    height: 45%;
    display: flex;
    flex-direction: column;
    padding: 5% 8% 5% 8%;
}
.compact-card .content-area .content-head{
    height: 30%;
    display: flex;
    flex-direction: row;
}


.compact-card .content-area .content-head .logo{
    width: 30%;
    text-align: left;
}

.compact-card .content-area .content-head img{
    height: 100%;
    text-align: center;
}
.compact-card .content-area .content-head .name{
    width: 70%;
    padding-left: auto;
    padding-right: auto;
}

.compact-card .content-area .content-body{
    padding-top: 10%;
    height: 70%;
    color: grey;
}
.compact-card .content-area .content-body .desc{
    text-align: justify;
}
.compact-card .content-area .expand-button .button{
    margin-left: auto;
    margin-right: auto;
}