.imgCard {
    height: 320px;
    width: 560px;
    background: white;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    border-radius: 10px;
    border-style: none;
}

.contentArea{
    padding:2%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.contentHead{
    padding:2%;
}

.contentHead span{
    font-size:26px;
    font-weight: bold;
}

.contentText{
    padding:2%;
}
.contentText span{
    font-Size:18px;
    color: grey;
}

.contentBottom{
    padding:2%;
}