@font-face {
  font-family: 'GoogleSans';
  src: local('GoogleSans-Medium'), url(../fonts/GoogleSans/GoogleSans-Medium-v1.27.ttf) format('truetype');
}
@font-face {
  font-family: 'GoogleSans-MediumItalic';
  src: local('GoogleSans-MediumItalic'), url(../fonts/GoogleSans/GoogleSans-MediumItalic-v1.27.ttf) format('truetype');
}
@font-face {
  font-family: 'GoogleSans-Regular';
  src: local('GoogleSans-Regular'), url(../fonts/GoogleSans/GoogleSans-Regular-v1.27.ttf) format('truetype');
}

.headerNav {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
  
  .navbarDesktop {
    display: flex;
    height: 45px;
    width: 85vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: grey;
    margin-top: 25px;
  }
  .logo {
    height: 100%;
  }
  .Link {
    color: grey;
    font-weight: 550;
    font-size: 18px;
  }
  .NavLinks {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
  .bgSvg {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20vw;
    width: 30vw;
  }

  .bottomNavigation{
    visibility: collapse;
    box-shadow:0px 0px 80px rgba(0, 0, 0, 0.18);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
  .mobileTopBar{
    visibility: collapse;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .appBar{
    font-family: "GoogleSans-Regular" !important;
    background-color: white !important;
    color: black !important;
    box-shadow: 4px 12px 47px 0 rgb(0 0 0 / 10%) !important;
  }


@media screen and (max-width: 480px) {
  .navbarDesktop {
    visibility: collapse;
  }
  .mobileTopBar{
    position: absolute;
    visibility: visible;
  }
  .bottomNavigation{
    visibility: visible;    
  }
}