
.member {
    display: flex;
    width: 75vw;
    justify-content: center !important;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .headings {
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 28px;
  }
  
  .centerGrid {
    padding: 5px;
  }
  
.Nav {
    text-align: center;
    color: black;
    height: 5%;
    padding-top: 10px;
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(215, 213, 213, 1) 0%,
      rgba(242, 242, 242, 1) 100%
    );
  }
  
.container {
    position: relative;
    max-width: 220px;
    margin: 28px 30px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 200px;
  }
  .cCard {
    box-shadow: 0px 0px 10px grey;
    height: 250px;
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  c-contentBx h2 {
    text-align: center;
  }

  .card {
    position: relative;
    height: 220px;
    width: 90%;
    background: white;
    overflow: hidden;
    box-shadow: 4px 12px 47px 0 rgb(0 0 0 / 10%);
    transition-duration: 250ms;
    transition-property: transform, background-color;
    border-radius: 22px;
  }
  
  hover {
    transform:  scale(1.1);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  
  .card:hover {
    transform:  translateY(-5px);
  }
  
 .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .card:after {
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 8em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 25, 0.05);
  }
  
  .circularSquare {
    border: 2px;
    opacity: 1;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  
  .imgBx {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 0;
    width: 80%;
    height: 60px;
    transition: 0.5s;
  }

 .imgBx img {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-40%, -60%);
  }
  
  .contentBx {
    position: absolute;
    padding: 0px;
    top: 60%;
    width: 70%;
    word-wrap: break-word;
    text-align: center;
    padding-left: 25%;
    z-index: 0;
  }
  
  .contentBx h2 {
    position: relative;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
  }
  
 .size {
    padding: 3px 0;
  }
  
 .left {
    width: 20%;
    padding: 25px 25px 60px 0px;
  }
  
 .color {
    display: flex;
    flex-direction: column;
    margin: 0 0 0px 15px;
  }
  
 .color h3 {
    color: black;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: -2px -1px 2px rgba(0, 0, 0, 0.6);
  }
  
 .size h4 {
    color: black;
    font-weight: 300;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
 
  .color span {
    width: 25px;
    min-height: 25px;
    background: url(../images/team-images/linkedin.svg);
    background-size: 25px;
    cursor: pointer;
    margin-bottom: 25px;
  }
  
.smi {
    visibility: hidden;
    z-index: 2;
  }
  
 .color span:nth-child(2) {
    background-image: url(../images/team-images/github.svg);
    background-size: 25px;
  }
  
  .color span:nth-child(3) {
    background: url(../images/team-images/facebook.svg);
    background-size: 25px;
  }
  
  .color span:nth-child(4) {
    background-image: url(../images/team-images/instagram.svg);
    background-size: 25px;
  }
  