.frontPage {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.welcome {
  display: flex;
  width: 100%;
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.TitleHeading {
  font-size: 48px;
  font-weight: 700;
}
.content {
  width: 50%;
  height: auto;
  max-height: 100%;
  margin-left: 20px !important;
}
p {
  line-height: 30px;
}
.MemberButton {
  height: 53px;
  width: 43%;
  color: white;
  background-color: #717171;

  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 40px;
}
.googleDevImage{
  height: 34px;
}
.DiscordButton {
  display: inline-block;
  height: 53px;
  width: 43%;
  color: white;
  background-color: #4285f4;
  border: none;
  margin-left: 15px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 40px;
  padding: 3px auto;
}
.HomePageSvg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 50%;
}
.svg {
  width: 85%;
  aspect-ratio: 1/1;
}


@media screen and (max-width: 480px) {
  .frontPage {
    max-width: 100% !important;
    flex-direction: column;
  }
  .welcome {
    display: flex;
    flex-direction: column-reverse;
    align-items: right;
    justify-content: space-evenly;
  }
  .TitleHeading {
    font-size: 32px;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-height: 80%;
    justify-content: space-evenly;
  }
  
  .bannerText{
    margin-top: 32px;
    text-align: left;
  }

  .poweredBy{
    font-size: small;
  }
  .googleDevImage{
    height: 16px;
    padding: 11px 0 0 0;
  }
  .MemberButton {
    visibility: hidden;

    height: 53px;
    width: 43%;
    color: white;
    background-color: #717171;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 40px;
  }
  .DiscordButton {
    visibility: hidden;
    display: inline-block;
    height: 53px;
    width: 43%;
    color: white;
    background-color: #4285f4;
    border: none;
    margin-left: 15px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 40px;
    padding: 3px auto;
  }
  .HomePageSvg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 90%;
  }
  .svg {
    width: 85%;
    aspect-ratio: 1/1;
  }
  
  





}