.videoSection{
    width:85%;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.eventVideoHeading{
    text-align:center;
}
.eventVideoHeading span{
    font-size: 8vh;
     font-weight: bold;
      color: #4285F4;
}

@media screen and (max-width: 480px) {
    
    .videoSection{
        width:95%;
        margin-left:auto;
        margin-right:auto;
    }
 
    .eventVideoHeading span{
        font-size: 4vh;
    }
    

}