.event-home-card-container {
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.event-home-card-container .event-home-card-img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
    }
  
.event-home-card-container .event-home-card-title {
    padding: 1rem;
}
  
.event-home-card-container .event-home-card-description {
    padding: 0 1rem;
}
  
.event-home-card-container .event-home-card-btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #d50000;
    background: transparent;
    color: #d50000;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
}
  
.event-home-card-container :hover {
    transform: scale(1.02);
}
  
.event-home-card-container .event-home-card-btn :hover{
    background: #d50000;
    color: white;
}
