
@font-face {
    font-family: 'GoogleSans';
    src: local('GoogleSans-Medium'), url(./fonts/GoogleSans/GoogleSans-Medium-v1.27.ttf) format('truetype');
  }
  @font-face {
    font-family: 'GoogleSans-MediumItalic';
    src: local('GoogleSans-MediumItalic'), url(./fonts/GoogleSans/GoogleSans-MediumItalic-v1.27.ttf) format('truetype');
  }
  @font-face {
    font-family: 'GoogleSans-Regular';
    src: local('GoogleSans-Regular'), url(./fonts/GoogleSans/GoogleSans-Regular-v1.27.ttf) format('truetype');
  }


  * {
      font-family: 'GoogleSans-Regular';
  }